<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>


<table class="table table-striped">
  <tr>
   <th>Name</th>
   <th>Email</th>
   <th>Points Balance</th>
  </tr>

  <% @customers.each do |customer| %>
    <tr>
      <td><%= link_to customer.name, "https://#{@shop_session.url}/admin/customers/#{customer.id}", target: "_top" %></td>
      <td><%= customer.email %>
      <td><%= customer.points_balance %>
    </tr>
  <% end %>
</table>